/* ----- SAMMA ÖVERALLT ----- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.headernavwrapper {
    display: grid;
    grid-area: hn;
    background-color: rgb(112, 146, 190);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 20px;
    grid-template-areas:
    "he un"
    "da sl";
}

.headernavwrapper header {
    grid-area: he;
}

.dates {
    grid-area: da;
    background: rgb(0, 255, 0);
}

.site_social_links {
    grid-area: sl;
    background: rgb(0, 255, 0);
}

.upper_nav {
    grid-area: un;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background:rgb(112, 146, 190, 0.8);
}


.site_navigation_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color:rgb(112, 146, 190, 0.8);
    position: absolute;
    top: -100vh;
    right: 0px;
    width: 100vw;  
    transition: all 1s;
}

.upper_nav-active {
    transform: translateY(100vh);
}

.upper_nav li {
    list-style: none;
}

.upper_nav a {
    text-decoration: none;
    letter-spacing: 0.1875rem;  
    color: black;
    font-weight: bold;
    font-size: 3rem;    
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

.toggle #line2 {
    opacity: 0;
}

.toggle #line1 {
    transform: rotate(45deg) translate(5px, 6px);
}

.toggle #line3 {
    transform: rotate(-45deg) translate(5px, -6px);
}

.burger {
    margin-right: 3.125rem;    
    cursor: pointer;
}


/* ----- INDEX (STARTSIDA) ----- */
#gridwrapperstartsida {
    display: grid;
    background: lightblue;
    grid-template-columns: 1fr;
    grid-template-rows: 100px minmax(400px, 4fr) minmax(250px, 3fr) 100px;
    gap: 0px;   
    grid-template-areas: 
        "hn"
        "hu"
        "ny"
        "fo";
    width: 100vw;
    min-height: 180vh;
    height: auto;
}

#hpu {
    grid-area: hu;
    background-image: url(../img/Main_background_black_placeholder.png);
    background-size: cover;
    background-repeat: no-repeat;

}

#nyheter {
    grid-area: ny;
}

footer {
    grid-area: fo;
    background: rgb(112, 146, 190);
}
