/* ----- SAMMA ÖVERALLT ----- */

@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;    
}

.headernavwrapper {
    display: grid;
    grid-area: hn;
    grid-template-columns: 1fr 1fr;
    background-color:rgb(255, 255, 255);    
    grid-template-rows: 80px 30px;
    grid-template-areas:
    "he un"
    "da sl";
    position: fixed;
    top: 0;
    width: 100%;
    height: 110px;
    z-index: 9;
}

.headernavwrapper header {
    grid-area: he;
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-bottom: 0px;
    background-color:rgb(255, 255, 255);
    height: 105%;
}

header a .logo {
    height: 75px;
}

.dates {
    grid-area: da;
    background-color: rgba(25, 25, 98);
    display: flex;
    align-items: center;
}

.dates time {
    color: white;
    margin-left: 16px;
}

.upper_nav {
    grid-area: un;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color:rgb(255, 255, 255);
}


.site_navigation_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    top: -100vh;
    right: 0px;
    width: 100vw;  
    transition: all 1s;
    z-index: 10;
    background-color: rgba(25, 25, 98, 0.95);
}

.upper_nav-active {
    transform: translateY(100vh);
}

.upper_nav li {
    list-style: none;
    display: flex;
    height: 100%;
    padding-top: 10%;
    justify-content: space-evenly;
}

.upper_nav a {
    text-decoration: none;
    letter-spacing: 0.1875rem;  
    color: white;
    font-weight: lighter;
    font-size: 3.125rem;    
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

.toggle #line2 {
    opacity: 0;
}

.toggle #line1 {
    transform: rotate(45deg) translate(5px, 6px);
    background-color: white;
}

.toggle #line3 {
    transform: rotate(-45deg) translate(5px, -6px);
    background-color: white;
}

.burger {
    margin-right: 10%;    
    cursor: pointer;
    z-index: 11;
}

.site_social_links {
    grid-area: sl;
    background-color: rgba(25, 25, 98);
    display: flex;
    align-items: center;
    width: 100%
}

.site_social_links ul {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 10%;
    width: 100%;
}

.site_social_links img {
    display: flex;
    height: 18px;
    width: fit-content;
}

h1 {
    font-size: 3.4375rem;
    font-weight: bolder;
    text-shadow: 0 0 3px #ffffff, 0 0 5px #00008a;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 3.4375rem;
    font-family: 'Montserrat', serif;
}

h3 {
    font-size: 2.5rem;
    color: white;
    font-family: 'Montserrat', serif;
    text-align: center;
}

p {
    font-size: 1rem;
    width: 304px;
    font-family: 'Montserrat', sans-serif;
}

p a {
    color: white;
}

a {
    font-family: 'Montserrat', sans-serif;   
}

li {
    font-family: 'Montserrat', sans-serif;   
}

.stycke {
    padding-bottom: 1rem;
}

.last_row {
    padding-top: 1rem;
}

time {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;   
    color: white;
}

.upper_nav li a {
    font-family: 'Bungee Inline', cursive;
}



/* ----- INDEX (STARTSIDA) ----- */
#gridwrapperstartsida {
    display: grid;
    background-image: url(../img/lipstick.jpg);
    background-position: center;
    background-attachment: fixed;
    grid-template-columns: 1fr;
    grid-template-rows: 110px minmax(400px, 85vh) minmax(200px, 30vh) minmax(200px, 30vh) minmax(400px, 85vh);
    gap: 0px;   
    grid-template-areas: 
        "hn"
        "hu"
        "ut"
        "mt"
        "ny"
        ;
    width: 100vw;
}

#hpu {
    grid-area: hu;
    background-image: url(../img/hpubackground.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
} 

#hpu_text {
    grid-area: ut;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.0) 0%,
        rgba(17, 17, 92, 1) 100%
    );
    color: white;
    width: 100%;
}

#hpu_text header {
    padding-top: 0;

 }

#hpu_text h1 {
    text-align: center;     
}

#hpm_text {
    grid-area: mt;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(17, 17, 92, 0.9);
    width: 100%;

}

#biljetter a {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bolder;
    font-size: 3.4375rem;
    border: 8px solid white;
    padding: 8px;
    padding-top: 0px;


}

#nyheter {
    grid-area: ny;
    background-color: rgba(14, 14, 14, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    height: 100%;
}

#nyheter h2 {
    text-align: center;
}

#nyheter ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#nyheter li {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 200%;
}

#nyheter li a {
    color: white;
}

.hpl_pics {
    display: none;
}

/* ----- PROGRAMSIDA ----- */
#gridwrapperprogram {
    display: grid;
    background-image: url(../img/programbackground.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    grid-template-columns: 1fr;
    grid-template-rows: 110px minmax(400px, 85vh) minmax(1130px, 105vh) minmax(1050px, 85vh) minmax(970px, 100vh) minmax(1000px, 105vh);
    gap: 0px;   
    grid-template-areas: 
        "hn"
        "pr"
        "d1"
        "d2"
        "d3"
        "d4"
        ;
    width: 100vw;
}

#program {
    grid-area: pr;
    display: flex;
    position: relative;
    background-image: linear-gradient(
        rgba(0, 0, 0) 0%,
        rgba(0, 0, 0, 0.0) 0%,
        rgba(0, 0, 0, 0) 90%,
        rgba(0, 0, 0, 0.85)
    ); 
}

#program h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;   
}

.programlista_rubrik {
    padding-top: 1rem;
}

.programlista {
    padding-bottom: 1rem;
}

.dag {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

#dag_1 {
    grid-area: d1;
    background-color: rgba(0, 0, 0, 0.85);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;   
}

#dag_2 {
    grid-area: d2;
    background-color: rgba(32, 32, 32, 0.9);
}

#dag_3 {
    grid-area: d3;
    background-color: rgba(0, 0, 0, 0.85);
}

#dag_4 {
    grid-area: d4;
    background-color: rgba(32, 32, 32, 0.9);
    }

.dag figure {
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
}

#programfigure5 {
    height: 220px;  
}

#programfigure6{
    height: 180px;
}
.dag img{
    overflow: hidden;
    transition: all 0.2s;
    height: fit-content;
    width: fit-content;

}

.dag img:hover {
    transform: scale(1.2);

}                                             

/* ----- OMRÅDEN ----- */
#gridwrapperomraden {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 110px minmax(400px, 85vh) minmax(630px, 90vh) minmax(756px, 108vh) minmax(714px, 102vh);
    gap: 0px;   
    color: white;
    grid-template-areas:
    "hn"
    "on"
    "o1"
    "o2"
    "o3"
    ;
}

.op {
    display: none;
}

#omraden {
    grid-area: on;
    display: flex;
    position: relative;
    background-image: linear-gradient(
        rgba(0, 0, 0) 0%,
        rgba(0, 0, 0, 0.0) 0%,
        rgba(0, 0, 0, 0) 90%,
        rgba(0, 0, 0, 0.85)
    ); 
}

#omraden::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../img/ullevi.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    filter: brightness(70%);
}

#omraden h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#omradebody {
    background-image: url(../img/lipstickwithship.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.omrade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.omrade h2 {
    text-align: center;
}

#omrade_1 { 
    grid-area: o1;
    background-color: rgba(0, 0, 0, 0.85);
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#omrade_2 {
    grid-area: o2;
    background-color: rgba(32, 32, 32, 0.9);
}

#omrade_3 {
    grid-area: o3;
    background-color: rgba(0, 0, 0, 0.85);
}

.omrade iframe {
    width: 90%;
    height: 320px;
    padding: 16px;
    
}

/* BOENDE */ 
#gridwrapperboende {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 110px minmax(400px, 85vh) minmax(895px, 100vh) minmax(760px, 119vh) minmax(950px, 100vh);
    width: 100%;    
    gap: 0px;   
    color: white;
    grid-template-areas:
    "hn"
    "bo"
    "b1"
    "b2"
    "b3"
    ;
}

#boendebody {
    background-image: url(../img/tram.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#boende {
    grid-area: bo;
    display: flex;
    position: relative;
    background-image: linear-gradient(
        rgba(0, 0, 0) 0%,
        rgba(0, 0, 0, 0.0) 0%,
        rgba(0, 0, 0, 0) 90%,
        rgba(0, 0, 0, 0.85)
    ); 
}

#boende::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../img/bobackground2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    filter: brightness(95%);
}

#boende h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;   
}


.boendeform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#camping { 
    grid-area: b1;
    background-color: rgba(0, 0, 0, 0.85);
}

#lyxcamping {
    grid-area: b2;
    background-color: rgba(32, 32, 32, 0.9);
}

#lyxcampingpics {
   display: none; 
}
#hotell {
    grid-area: b3;
    background-color: rgba(0, 0, 0, 0.85);
}

.boendelista_rubrik {
    padding-top: 1rem;
}

.boendelista li a {
    color: white;
}


.boendeform figure {
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
}

.boendeform img{
    overflow: hidden;
    transition: all 0.2s;
    height: fit-content;
    }

.boendeform img:hover {
    transform: scale(1.2);

}          

@media screen and (min-width: 800px)
{
    /* GENERELLT */

    h1 {
        font-size: 3.75rem;
        }

        .upper_nav ul li a { 
            font-size: 2rem;
            font-weight: bolder;
        }

    .site_navigation_links {
        height: 0;
        top: 0;
        width: 70%;
        transition: all 0s;
        flex-direction: row;
        background: none;

    }
    
    .upper_nav ul {
        justify-content: space-evenly;

    }

    .upper_nav ul li {
        height: 100%;
        padding-top: 0;
        padding-bottom: 0; 
    }

    .startsidalink {
        display: none;
    }

    .upper_nav ul a {
        color: black;
    }

    .upper_nav-active {
        transform: translateY(0);
    }

    .burger {
        display: none;
    }



    /* INDEX (STARTSIDA) */
    #gridwrapperstartsida {
        grid-template-columns: 1fr 401px 1fr;
        grid-template-areas: 
            "hn hn hn"
            "hu hu hu"
            "ut ut ut"
            "mt mt mt"
            "l1 ny l2"
            ;
    }

    .hpl_pics {
        background-color: rgba(14, 14, 14, 0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    #hpl_pics1 {
        grid-area: l1;
    }

    #hpl_pics2 {
        grid-area: l2;

    }

    #nyheter {
        padding: 0;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    #hpl_pic1 {
        width: 22vw;
    }

    #hpl_pic2 {
        width: 20vw;
    }

    #hpl_pic3 {
        width: 23vw;
    }

    /* PROGRAMSIDA */
    #gridwrapperprogram {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 110px minmax(400px, 85vh) minmax(1130px, 105vh) minmax(990px, 105vh);
        grid-template-areas: 
            "hn hn"
            "pr pr"
            "d1 d2"
            "d3 d4"
            ;
    }

    .dag {
        justify-content: flex-start;
        padding-top: 3rem;
    }

    #dag_1 {
        display: flex;
    }

    #rockdag2lista {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #dag_2 {
        background-color: rgba(0, 0, 0, 0.85);
    }

    #maindag3lista {
        padding-bottom: 0px;
    }

    #dag_4 {
        background-color: rgba(0, 0, 0, 0.85);
    }


    /* OMRÅDESSIDA */
    #gridwrapperomraden {
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        grid-template-areas:
        "hn hn"
        "on on"
        "o1 p1"
        "o2 p2"
        "o3 p3"
        ;
    }

    .op {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: space-between;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .op figure {
        width: 60%;
    }

    #op1 {
        grid-area: p1;
        background-color: rgba(0, 0, 0, 0.85);
    }

    #op2 {
        grid-area: p2;
        background-color: rgba(32, 32, 32, 0.9);
    }

    #op3 {
        grid-area: p3;
        background-color: rgba(0, 0, 0, 0.85);
    }

    #omrade_pic1 {
        width: 64%;
    }

    #omrade_pic2 {
        width: 68%;
    }

    #omrade_pic3 {
        width: 58%;
    }

    #omrade_pic4 {
        width: 63%;
    }

    #omrade_pic5 {
        width: 77%;
    }

    #omrade_pic6 {
        width: 80%;
    }

    /* BOENDESIDA */

    #gridwrapperboende {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 110px minmax(400px, 85vh) minmax(950px, 110vh) minmax(490px, 80vh);
        grid-template-areas:
        "hn hn"
        "bo bo"
        "b1 b3"
        "b2 xp"
        ;
    }

    #lyxcamping {
        background: rgba(0, 0, 0, 0.85);
        justify-content: flex-start; 

    }

    #lyxcamping figure {
        display: none;
    }

    #lyxcampingpics {
        grid-area: xp;
        background: rgba(0, 0, 0, 0.85);
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #lyxcampingpics figure {
        overflow: hidden;
        width: 42%;
    }

    #lyxcampingpics img {
        overflow: hidden;
        transition: all 0.2s;
        height: fit-content;
        width: fit-content;
    }
      
    #lyxcampingpics img:hover {
        transform: scale(1.2);
    }   
}

@media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {
        #gridwrapperstartsida {
            background-attachment: scroll;
        }

        #gridwrapperprogram {
            background-attachment: scroll;
        }

        #gridwrapperboende {
            background-attachment: scroll;
        }

        #gridwrapperomraden {
            background-attachment: scroll;
        }
    }
}